# Python artifacts
*.egg-info/
build/
dist/
__pycache__/

# CMake / ninja / cmake-build
pybuild/
build/
compile_commands.json
*.o
*.so
*.a
*.csv
# python
.venv/

# macOS
*.DS_Store

# clangd
.cache/
.idea/
Tests/spectral_deriv_output.csv
Tests/spectral_deriv_output.csv
